.form{
    align-items: center;
    background-color: aqua;
  width: 30%;
  height: 40%;
}
h1{
    text-align: center;
}
.row{
  background-color: aqua;
  height: 250px;
  width: 250px;
  padding: 20px;
  border: 2px solid rgb(7, 7, 7);
  border-radius: 2px;
  float: left;
  box-sizing: border-box;
  margin: 30px;
}
.form-ctrl{
  padding-top: 5px;
  border: 2px solid rgb(7, 7, 7);
  padding-bottom: 2px;
}
.btn-primary{
  border-radius: 2px;
  align-items: center;
}