<!-- 
<div class="addProduct">
  <h1>Add Product</h1>
  <label for="addProduct"> Enter the Product </label>
  <input #newItem placeholder="add a product" (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="text-input" id="addItemInput" />

  <button mat-button class="btn-primary" (click)="addItem(newItem.value)">Add Product</button>
</div>
<form class="form">
    <h1>Add Product</h1>
    <mat-form-field class="formfill" appearance="fill">
      <mat-label>Enter product Name</mat-label>
     <input #newItem placeholder="add a product" (keyup.enter)="addItem(newItem.value); newItem.value = ''"
    class="text-input" id="addItemInput" />

  <button mat-button class="btn-primary" (click)="addItem(newItem.value)">Add Product</button>
    </mat-form-field>
</form> -->
