<div class="navbarall">
    <mat-toolbar class="navbar">
        <button mat-icon-button (click)="togNav(sidenav)" class="menuicon">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spanicon">
            <mat-icon>shopping_cart</mat-icon>L-kart
        </span>

        <button mat-icon-button class="searchicon">
            
            <input type="text">
            <button mat-button><mat-icon>search</mat-icon></button>
        </button>
        <button mat-icon-button class="carticon" routerLink="cart" matBadge={{getData.length}} matBadgeColor="warn">
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </mat-toolbar>
</div>

<mat-sidenav-container>
    <mat-sidenav style="width: 12%; background-color: gray" #sidenav mode="side" closed class="vertical-menu">
        <mat-nav-list style="width: 100%;">

            <a mat-list-item>
                <button mat-button routerLink="home">
                    <mat-icon>add_box</mat-icon>addProduct
                </button>
            </a>
            <a mat-list-item>
                <button mat-button routerLink="products">
                    <mat-icon>business_center</mat-icon>products
                </button>
            </a>
           
            <a mat-list-item>
                <button mat-button routerLink="cart">
                    <mat-icon>shopping_cart</mat-icon>cart
                </button>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <p style="height: 85vh;">
            <router-outlet></router-outlet>
        </p>
    </mat-sidenav-content>
</mat-sidenav-container>


<footer class="footer1">
    <mat-toolbar-row class="navbar"></mat-toolbar-row>
</footer>
